h1 {
    font-family: cursive;
}

body {
    margin: auto;
    text-align: center;
    width: 500px;
}

footer {
    border: 5px black solid;
}

h4 {
    height: 20px;
    border: 5px black solid;
}